/* Basics ------------------------------------------------------------------- */

$text-color:       	#111;
$body-font-color: 	$text-color;
$body-bg: 			#fdfdfd;



/* Corporate Identity Colorpalette
   https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
------------------------------------------------------------------- */

$sea-blue: #01509f;		// dark turquoise
$grey-blue: #467CB3;		// gray blue
$yellow: #e4c14d; 	// yellow
$orange: #E27A3F;		// orange
$red: #DF4949;		// red
$green: #A1D044;     // green



/* Semantic Color Variables
------------------------------------------------------------------- */

$primary-color: $sea-blue;
$secondary-color: $green;
$alert-color: $red;
$success-color: $green;
$warning-color: $orange;
$info-color: $sea-blue;



/* Grey Scale
------------------------------------------------------------------- */

$grey-1: #E4E4E4;
$grey-2: #D7D7D7;
$grey-3: #CBCBCB;
$grey-4: #BEBEBE;
$grey-5: #A4A4A4;
$grey-6: #979797;
$grey-7: #8B8B8B;
$grey-8: #7E7E7E;
$grey-9: #646464;
$grey-10: #575757;
$grey-11: #4B4B4B;
$grey-12: #3E3E3E;
$grey-13: #313131;
$grey-14: #242424;
$grey-15: #171717;
$grey-16: #0B0B0B;
