@import "colors.scss";

body {
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
    color: $text-color;
}
.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    background-color: $sea-blue;
}
ul.row-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.row-items,.right {
    justify-content: flex-end;
    align-self: right;
}
li.row-item{
    float: left;
}
li.right{
    float: right;
}

li.dropdown {
    display: inline-block;
}
li.dropdown>a::after {
    content:"";
    display:block;
    width:0;
    height:0;
    border:inset 5px;
    border-color:transparent transparent transparent rgba(1,80,159,0.4);
    border-left-style:solid;
    margin-right:1.0416666667rem;
    margin-top:-4.5px;
    position:absolute;
    top:50%;
    right:0
}
li a, .dropdown-button {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  li a:hover, .dropdown:hover .dropdown-button {
    background-color: $grey-blue;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    color: $text-color;
    display: none;
    position: absolute;
    background-color: $grey-blue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {color: $sea-blue;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
    background-color: $grey-blue;
}

footer {
    background: $grey-blue;
}

img.logo {
    max-height: 70px;
}
footer h3 {
    color: white;
    font-weight: normal;
    font-variant: small-caps;
}