<footer>
    <section class="row">
    <h3>Spletišče podpirajo</h3>
    <ul class="row-items">
        {{ range .Site.Params.podpora }}
        <li class="row-item">
            <a href="{{ .url }}" target="_blank" title="{{ .ime }}">
            <img class="logo" src="slike/{{ .logo }}" alt="{{ .ime }}"> 
            </a>
        </li>
        {{ end }}
    </ul>
    </section>
    <nav class="collumn">

    </nav>
    <section class="row">
        {{ partial "edit.html" }}
    </section>
</footer>