<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ if eq .Title site.Title }}
            {{ site.Title }}
        {{ else }}
            {{ with .Title }} {{ . }} | {{ end }}{{ site.Title }}
        {{ end }}
    </title>
    {{ partial "favicon.html" }}
    {{ $style := resources.Get "/scss/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
