<nav class="navbar">
     <ul class="row-items">
       {{ range site.Menus.main }}
       <li class="row-item{{ if .HasChildren }} dropdown{{ end }}">
         <a href="{{ .URL | absURL }}" title="{{ .Title }}" {{ if .HasChildren }}class="dropdown-button"{{end}}>{{ .Name }}</a>
         {{ if .HasChildren}}
         <div class="dropdown-content">
         {{ range .Children}}
         <a href="{{ .URL | absURL }}" title="{{ .Title }}">{{ .Name }}</a>
         {{ end }}
         </div>
         {{ end }}
       </li>
       {{ end }}
    </ul>
    <ul class="row-items right">
       {{ range site.Menus.right }}
       <li class="row-item{{ if .HasChildren }} dropdown{{ end }}">
          <a href="{{ .URL | absURL }}" title="{{ .Title }}" {{ if .HasChildren }}class="dropdown-button"{{end}}>{{ .Name }}</a>
          {{ if .HasChildren}}
          <div class="dropdown-content">
          {{ range .Children}}
          <a href="{{ .URL | absURL }}" title="{{ .Title }}">{{ .Name }}</a>
          {{ end }}
          </div>
          {{ end }}
        </li>
    {{ end }}
     </ul>
</nav>